[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
gitpython = "*"
mdv = "*"
krules-dev-support = "*"

[dev-packages]
krules-cli = {editable = true, path = "."}

[requires]
python_version = "3.8"
